<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @flat['imageUrl'] %>);">
  <div class="my-container">
    <h1><%= @flat['name'] %></h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <%= link_to "Back", flats_path, class: "btn btn-flat" %>
  </div>
</div>
